<h1 class="text-center">Editing Subgenere</h1>

<%= render 'form', subgenere: @subgenere %>

<h3 class="text-center"><%= link_to 'Show', @subgenere %> </h3>
<h3 class="text-center"><%= link_to 'Back', subgeneres_path %></h3>
