<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<table class="table table-condensed table-hover">
				<thead>
					<tr class="success">
					<th>Username</th>
					<th>Score </th>
				</tr>
				</thead>

				<tbody>
				<% arr.each do |ar| %>
					<% if ar[2] != current_user.id %>	
						<tr class="success">
							<td><%= ar[0] %></td>
							<td><%= ar[1] %></td>
						</tr>
					<% else%>
						<tr class="danger">
							<td><%= ar[0] %></td>
							<td><%= ar[1] %></td>
						</tr>
					<% end %>
				<% end %>
				</tbody>

			</table>


		</div>

	</div>
</div>
